<app-generic-details-return-button [titleI18nKey]="I18nKey[I18nKey.SmartHome]"
                                   [parentRouterPath]="getRoute()"></app-generic-details-return-button>

<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" style="width: 100%; height: 100%;">
  <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="center" style="height: 100%;">
    <mat-tab label="{{ 'SmartHome' | translate }}">
      <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
          <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <mat-form-field>
          <input matInput required placeholder="{{ 'Name' | translate }}" formControlName="name">
        </mat-form-field>

        <div class="max-spacer"></div>
      </form>
    </mat-tab>
    <mat-tab label="{{ 'ElectricalDevices' | translate }}"><app-electrical-device-overview *ngIf="selectedTab === 1"></app-electrical-device-overview></mat-tab>
    <mat-tab label="{{ 'PowerChargers' | translate }}"><app-power-charger-overview *ngIf="selectedTab === 2"></app-power-charger-overview></mat-tab>
    <mat-tab label="{{ 'PowerStorages' | translate }}"><app-power-storage-overview *ngIf="selectedTab === 3"></app-power-storage-overview></mat-tab>
    <mat-tab label="{{ 'PowerUnits' | translate }}"><app-power-unit-overview *ngIf="selectedTab === 4"></app-power-unit-overview></mat-tab>
    <mat-tab label="{{ 'SmartMeters' | translate }}"><app-smart-meter-overview *ngIf="selectedTab === 5"></app-smart-meter-overview></mat-tab>
  </mat-tab-group>
</div>

<app-generic-details-save-button
  [loading]="loading"
  [routerPath]="routerPath"
  [disabled]="!formGroup.valid"
  [isVisible]="isVisible"
  (updateModel)="updateModel()"></app-generic-details-save-button>

<button mat-fab
        class="action-bar-first"
        [class.spinner]="loading"
        [disabled]="loading"
        [matMenuTriggerFor]="menu">
  <mat-icon>edit</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <div fxLayout="column" fxLayoutAlign="center start" style="width: 280px;">
    <button mat-menu-item
            class="alert-button"
            (click)="delete()"
            [class.spinner]="loading"
            [disabled]="loading || model?.canBeDeleted === false">
      <mat-icon class="alert-button">delete</mat-icon>
      <span>{{ 'Delete' | translate }}</span>
    </button>
  </div>
</mat-menu>
