<app-generic-details-return-button [titleI18nKey]="I18nKey[I18nKey.SmartHome]"
                                   [parentRouterPath]="'smart-home'"></app-generic-details-return-button>

<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" style="width: 100%; height: 100%;">
  <div fxLayout='column' fxLayoutAlign='center center'>
    <mat-spinner *ngIf='loading'></mat-spinner>
  </div>

  <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="center" style="height: 100%;">
    <mat-tab label="{{ 'SmartHome' | translate }}">
      <app-smart-home-details
              *ngIf="selectedTab === 0 && model"
              [model]="model"
              [id]="id">
      </app-smart-home-details>
    </mat-tab>

    <mat-tab label="{{ 'ElectricalDevices' | translate }}" [disabled]="!id || id?.length === 0">
      <app-electrical-device-overview
              *ngIf="selectedTab === 1 && model && id?.length > 0"
              [smartHomeId]="id">
      </app-electrical-device-overview>
    </mat-tab>

    <mat-tab label="{{ 'PowerChargers' | translate }}" [disabled]="!id || id?.length === 0">
      <app-power-charger-overview
              *ngIf="selectedTab === 2 && model && id?.length > 0"
              [smartHomeId]="id">
      </app-power-charger-overview>
    </mat-tab>

    <mat-tab label="{{ 'PowerStorages' | translate }}" [disabled]="!id || id?.length === 0">
      <app-power-storage-overview
              *ngIf="selectedTab === 3 && model && id?.length > 0"
              [smartHomeId]="id">
      </app-power-storage-overview>
    </mat-tab>

    <mat-tab label="{{ 'PowerUnits' | translate }}" [disabled]="!id || id?.length === 0">
      <app-power-unit-overview
              *ngIf="selectedTab === 4 && model && id?.length > 0"
              [smartHomeId]="id">
      </app-power-unit-overview>
    </mat-tab>

    <mat-tab label="{{ 'SmartMeters' | translate }}" [disabled]="!id || id?.length === 0">
      <app-smart-meter-details
              *ngIf="selectedTab === 5 && model && id?.length > 0"
              [smartHomeId]="id">
      </app-smart-meter-details>
    </mat-tab>
  </mat-tab-group>
</div>
